body {
    font-family: 'Roboto Slab', serif;
    font-size: 1rem;
    margin: 0;
 
}

.background-container{
    width: 100%;
    text-align: center;
    padding:15px;
}
.background-container img{
    max-width: 100%;
    height: auto;
}